name: Java build by Vishal

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Build project with Maven
      run: |
        mvn clean install

        echo "Current directory path "
        pwd

        gcloud auth login --cred-file=test-auth-key.json

        gcloud config set project voicetotext-362509

        gcloud auth activate-service-account "ci-cd-service-account@voicetotext-362509.iam.gserviceaccount.com" --key-file=test-auth-key.json
        
        gcloud auth configure-docker asia-south1-docker.pkg.dev
        
        docker build -t booking-authentication-service:1.0.1 .

        docker tag booking-authentication-service:1.0.1 asia-south1-docker.pkg.dev/voicetotext-362509/vishal-test-repository/booking-authentication-service:1.0.1

        docker push asia-south1-docker.pkg.dev/voicetotext-362509/vishal-test-repository/booking-authentication-service:1.0.1